@{
    ViewData["Title"] = "Login";
}

<div class="authentication-wrapper authentication-cover">
    <div class="authentication-inner row m-0">
        <!-- Imagen a la izquierda -->
        <div class="d-none d-lg-flex col-lg-7 col-xl-8 align-items-center p-5">
            <div class="w-100 d-flex justify-content-center">
                <img src="~/assets/images/login-illustration.jpg" class="img-fluid" alt="Login Image" width="700" />
            </div>
        </div>

        <!-- Formulario de login -->
        <div class="d-flex col-12 col-lg-5 col-xl-4 align-items-center authentication-bg p-sm-12 p-6">
            <div class="w-px-400 mx-auto mt-sm-12 mt-8">
                <h4 class="mb-1">¡Bienvenido a GYMBOOK! 👋</h4>
                <p class="mb-6">Por favor, inicia sesión con tus credenciales.</p>

                <form asp-action="Login" asp-controller="Account" method="post" class="mb-6">
                    <div class="mb-6 form-control-validation">
                        <label class="form-label">Correo electrónico</label>
                        <input  type="email" class="form-control" name="correo" placeholder="Ingrese su correo" autofocus />
                        <span  class="text-danger"></span>
                    </div>

                    <div class="form-password-toggle form-control-validation mb-6">
                        <label class="form-label">Contraseña</label>
                        <div class="input-group input-group-merge">
                            <input type="password" class="form-control" name="password" placeholder="••••••••" />
                            <span class="input-group-text cursor-pointer">
                                <i class="bx bx-hide"></i>
                            </span>
                        </div>
                        <span class="text-danger"></span>
                    </div>


                    @* <button type="submit" class="btn btn-primary d-grid w-100">Iniciar Sesión</button> *@
                    <button type="submit" class="btn btn-primary d-grid w-100">Iniciar sesion</button>
                </form>

           
                    <h2>@ViewBag.Mensaje</h2>
                

                <p class="text-center">
                    <span>¿Nuevo en nuestra plataforma?</span>
                    <a href="@Url.Action("Register", "Account")">Crea una cuenta</a>
                </p>
            </div>
        </div>
    </div>
</div>
